{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            },
        ],[
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@containers": "./view/containers",
                    "@components": "./view/components",
                    "@store": "./store"
                }
            }
        ]
    ]
}